@import "variables";
@import "mixins";
@import "normalize";
@import "layout";
@import "components/form_field";
@import "section/registration_form";
@import "pages/registration";

body{
    font-family: $brand-font;
    margin: 0;
}

header {
     .sidebar{
         ul{
             li a{
                line-height: 40px;
                display: block;
                padding: 0 ;
                color: $main-color;
                text-decoration: none;
             }
            padding: 0;
            list-style-type: none;
         }
         height: 100%;
         position: fixed;
         top: 0;
         left: 0;
         background-color: $sidebar-background-color;
         overflow-x: hidden;
     }

    }
    .topbar{
    ul {
        li {
            a {
                .fa{
                    height: 20px;
                }
                .fa-vallet{
                    padding-right: 15px;
                }
                .fa-arrow-down{
                    height: 10px;
                    padding-left: 15px;
                }
                .fa-profile{
                    padding-right: 15px;
                }
    
                display: block;
                padding: 0px 20px;
                color: $main-color;
                text-decoration: none;
                font-size: 20px;
                line-height: 60px;
                border-left: 2px solid;
            }
            display:inline-block;
        }
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    float: right;
    }
}